.list-income{
  width: 60%;
  height: 20vh;
  overflow: scroll;
  box-shadow: 3px 2px 17px rgb(118, 110, 110);
  text-align: center;
  margin: 1rem;
}
.info-income{
  width: 60%;
  height: auto;
  box-shadow: 3px 2px 17px rgb(118, 110, 110);
  text-align: center;
  margin: 1rem;
  padding: .1rem;
}
span{
  color: rgb(43, 68, 180);
  font-size: 1.2rem;
}